{% extends 'index.html' %}
{% load static %}
{% block body %}

<br>
<br>
<div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
<!--                    <div class="p-3 mb-2 bg-light text-dark">-->

                <h2  style="text-align: center;font-size:26px;margin-left:40%; padding:10px;background-color:grey;"> Your Order Have Been Placed!!! </h2>
                    <br>
                <h2 style="text-align:center;font-size:26px; margin-left:40%;padding:10px;background-color: grey;" > Thank You For Shopping With Us!!! </h2>

                </div>
<!--            </div>-->
            </div>
</div>

<br>
<br>


{% endblock %}

