{% extends 'index.html' %}
{% load static %}
{% block body %}

<section id="form">
  <div class="container">
	  <div class="row">
		  <div class="col-sm-4">
			  <br>
    <h1 style="color:green;text-align:center;font-weight: bold;">WELCOME</h1>
			  <hr>
	<form  method="post">
	{% csrf_token %}
		<div class="form-group">
    <label><b>Name</b></label>
    <input type="text" class="form-control" name="name" value="{{User.name}}"required />

</div>
		<div class="form-group">
	<label><b>Email</b></label>
    <input type="text" class="form-control"  name="email" value="{{User.email}}"required />

		</div>
		<div class="form-group">
	<label><b>Mobile Number</b></label>
    <input type="text" class="form-control" name="phone" value="{{User.phone}}" required/>

		</div>
			<div class="form-group">
    <label><b>Bank Name</b></label>
    <input type="text" class="form-control"  name="bank" value="{{User.bankName}}" required/>

			</div>
		<div class="form-group">
    <label><b>IFSC Code</b></label>
    <input type="text" class="form-control" name="ifsc" value="{{User.ifscCode}}" required/>

		</div>
		<div class="form-group">
    <label><b>Account Number</b></label>
    <input type="text" class="form-control" name="account" value="{{User.accountNumber}}" required/>
			<br>
	<button type="submit" class="btn btn-success">Update</button>

		</div>
	</form>

<!--    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>-->
	<a class="btn btn-success" href="/addproduct/"> Add Products</a>
		  </div>
		  </div>
  </div>
</section>
<br>
<!--  <div class="container signin">-->
<!--    <p>Already have an account? <a href="#">Sign in</a>.</p>-->
<!--  </div>-->
<section id="cart_items">
		<div class="container">

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description">Name</td>
							<td class="price">Base Price</td>
							<td class="quantity">Discount</td>
							<td class="total">Final Price</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for i in Product %}
						<tr>
							<td class="cart_product">
								{% if i.img1 %}
								<a href=""><img src="{{i.img1.url}}" width="150px"  alt=""></a>
								{% endif %}
							</td>
							<td class="cart_description">
								<h4><a href="">{{i.name}}</a></h4>
							</td>
							<td class="cart_price">
								<p>{{i.basePrice}}</p>
							</td>
							<td class="cart_price">
								<p>{{i.discount}}%</p>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{i.finalPrice}}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="/editproduct/{{i.id}}/">Edit</a>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="/deleteproduct/{{i.id}}/"><i class="fa fa-times"></i></a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

{% endblock %}

