{% extends 'index.html' %}
{% load static %}
{% block body %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Wishlist</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/shop/default/">Shop</a></li>
                        <li class="breadcrumb-item active">Wishlist</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Wishlist  -->
    <div class="wishlist-box-main">
         {% if Wish %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Unit Price </th>
                                    <th>Stock</th>
                                    <th>View Item</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for i in Wish %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="#">
									<img class="img-fluid" src="{{i.product.img1.url}}" alt="" />
								</a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="/product/{{i.product.id}}/">
									{{i.product.name}}
								</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>Rs. {{i.product.basePrice}}</p>
                                    </td>
                                    <td class="quantity-box">In Stock</td>
                                    <td class="add-pr">
                                        <a class="btn hvr-hover" href="/product/{{i.product.id}}/">View</a>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="/deletewishlist/{{i.id}}/">
									<i class="fas fa-times"></i>
								</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% if not Wish %}
<div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">

        <h2 style="text-align: center;font-size:26px;margin-left:40%; padding:10px;background-color:grey;"> Your Wishlist's Empty
        <p><a class="btn hvr-hover " href="/shop/default/">Shop Now</a></p></h2>
                </div>
            </div>
</div>
        {% endif %}
<br>
<br><br><br>
    <!-- End Wishlist -->
{% endblock %}